<!DOCTYPE html>

<html lang="en" xmlns:th="http://thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">
    <h1>All Books</h1>
    <nav th:replace="fragments :: navigation"></nav>

<p th:unless="${allBooks} and ${allBooks.size()}">There are no books!</p>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Title</th>
<!--                <th>Author</th>-->
            </tr>
        </thead>
        <tr th:each="book : ${allBooks}">
            <td th:text="${book}"></td>
        </tr><!--TODO: add column for author-->
    </table>
</body>
</html>