<!DOCTYPE html>

<html lang="en" xmlns:th="http://thymeleaf.org/">
<head>
    <meta charset="UTF-8"/>
    <title>
    </title>
</head>
<body>
<!--TODO: create a table of the books contained in the favorites list. Columns: Title, author (or just a pic of the cover), genre, notes, quotes-->
</body>
</html>

<!--for future reference: Sortable table-->
<!--<tr class="header-row" >-->
<!--    <th class="sortable" (click)="sort('name')">Name</th>-->
<!--    <th class="sortable" (click)="sort('type')">Type</th>-->
<!--    <th>Operational</th>-->
<!--    <th>Orbit Type</th>-->
<!--    <th>Launch Date</th>-->
<!--</tr>-->