<!DOCTYPE html>

<html lang="en" xmlns:th="http://thymeleaf.org/">
<head th:fragment="head">
    <meta charset="UTF-8"/>
    <title>BiblioFiler</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

</head>
<body>

<nav th:fragment="navigation">
    <ul class="nav">
        <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
        <li class="nav-item"><a class="nav-link" href="/books/allBooks">All Books</a></li>
        <!--<li class="nav-item"><a class="nav-link" href="/lists/favorites-list">Favorite Books</a></li>--><!--TODO: page is not loading-->
        <li class="nav-item"><a class="nav-link" href="/books/create">Add New Book</a></li>
    </ul>
</nav>

</body>
</html>