<!DOCTYPE html>

<html lang="en" xmlns:th="http://thymeleaf.org/">
<head>
    <meta charset="UTF-8"/>
    <title>
    </title>
</head>
<body>
    <header>Current Book</header>

    <th:block>
        <h1 th:text="${title}"></h1>
        <p th:text="${byAuthor}"></p>
        Notes: <p style="margin-left: 15px" th:text="${notes}"></p>
    </th:block>
</body>
</html>

<!--This is the home page view-->

<!--TODO: create current book table for top of home page-->

<!--TODO: add navigation bar on side (see: TechJobs fragments.html page-->

<!--TODO: get random quote at top of page-->
